*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* preloader */

.pre_loader {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 20000;
  color: #272727;
}

.rotator {
  width: 10rem;
  height: 0.5rem;
  background: red;
}

.pre_loader.hidden {
  animation: hidden 0.3s ease forwards alternate;
}

@keyframes hidden {
  to {
    visibility: hidden;
  }
}
/* preloader */

/* scroll bar */
::-webkit-scrollbar {
  width: 1rem;
  height: 100%;
}
::-webkit-scrollbar-track {
  width: 100%;
  height: 100%;
  box-shadow: inset var(--box-shadow);
  background: var(--second-bg-cl);
  z-index: 20000;
}
::-webkit-scrollbar-thumb {
  width: 0.8rem;
  border-radius: 6px;
  background: var(--primary-txt-cl);
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: var(--box-shadow);
}

:root {
  /* font sizes */
  --step--2: clamp(0.35rem, 0.26rem + 0.41vw, 0.56rem);
  --step--1: clamp(0.42rem, 0.31rem + 0.55vw, 0.7rem);
  --step-0: clamp(0.5rem, 0.35rem + 0.73vw, 0.88rem);
  --step-1: clamp(0.6rem, 0.41rem + 0.96vw, 1.09rem);
  --step-2: clamp(0.72rem, 0.47rem + 1.26vw, 1.37rem);
  --step-3: clamp(0.86rem, 0.53rem + 1.65vw, 1.71rem);
  --step-4: clamp(1.04rem, 0.61rem + 2.15vw, 2.14rem);
  --step-5: clamp(1.24rem, 0.69rem + 2.78vw, 2.67rem);

  /* padding, margin and other measurment values */
  --ms-step--2: clamp(0.43rem, 0.35rem + 0.4vw, 0.64rem);
  --ms-step--1: clamp(0.52rem, 0.41rem + 0.55vw, 0.8rem);
  --ms-step-0: clamp(0.63rem, 0.48rem + 0.73vw, 1rem);
  --ms-step-1: clamp(0.75rem, 0.55rem + 0.98vw, 1.25rem);
  --ms-step-2: clamp(0.9rem, 0.64rem + 1.29vw, 1.56rem);
  --ms-step-3: clamp(1.08rem, 0.74rem + 1.7vw, 1.95rem);
  --ms-step-4: clamp(1.3rem, 0.85rem + 2.23vw, 2.44rem);
  --ms-step-5: clamp(1.56rem, 0.97rem + 2.92vw, 3.05rem);

  /* button or div sizes */
  --sz-step--2: clamp(4.34rem, 3.07rem + 6.36vw, 7.6rem);
  --sz-step--1: clamp(5.21rem, 3.34rem + 9.35vw, 10rem);
  --sz-step-0: clamp(6.25rem, 3.81rem + 12.2vw, 12.5rem);
  --sz-step-1: clamp(7.5rem, 4.33rem + 15.85vw, 15.63rem);
  --sz-step-2: clamp(9rem, 4.89rem + 20.55vw, 19.53rem);
  --sz-step-3: clamp(10.8rem, 5.49rem + 26.56vw, 24.41rem);
  --sz-step-4: clamp(12.96rem, 6.11rem + 34.26vw, 30.52rem);
  --sz-step-5: clamp(15.55rem, 6.73rem + 44.09vw, 38.15rem);

  --padding: var(--ms-step-3) var(--step-5);
  --box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.089);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  /* overflow-x: hidden; */
}
.connect_wrapper {
  position: fixed;
  top: 10%;
  left: 2%;
  z-index: 2000;
  animation: shw_toast 1.5s ease forwards;
}

.connect_wrapper.hide {
  animation: hide 1.5s ease forwards;
}

/* show  */
@keyframes shw_toast {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(10%);
  }
  80%,
  100% {
    transform: translateX(0);
  }
}

/* hide */
@keyframes hide {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10%);
  }
  80%,
  100% {
    transform: translateX(-110%);
  }
}

.connect_wrapper .connect_toast {
  background: var(--primary-txt-cl);
  padding: 1rem;
  border-radius: 5px;
  border-left: 0.5rem solid rgb(45, 255, 4);
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow), var(--box-shadow);
}

.connect_wrapper .connect_toast.offline {
  border-color: rgb(253, 22, 5);
}

.connect_toast .connect_content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.connect_content .connect_icon {
  width: 4rem;
  height: 4rem;
  background: rgb(45, 255, 4);
  font-size: 2.5rem;
  line-height: 4rem;
  color: var(--primary-bg-cl);
  text-align: center;
  border-radius: 50%;
}

.connect_toast.offline .connect_content .connect_icon {
  background: rgb(253, 22, 5);
}

.connect_details span {
  font-weight: 600;
  color: var(--primary-bg-cl);
}
.connect_details p {
  font-weight: 500;
  color: var(--primary-bg-cl);
  font-size: 0.7rem;
  opacity: 0.6;
}
.connect_close_icon {
  width: 2.4rem;
  height: 2.4rem;
  background: var(--second-bg-cl);
  font-size: 1.5rem;
  color: var(--primary-bg-cl);
  line-height: 2.4rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#app {
  width: 100%;

  background-color: var(--primary-bg-cl);
  color: var(--primary-txt-cl);
  position: relative;
  overflow-x: hidden;
}
#style_theme {
  transition: 0.2s linear;
}
.btn {
  text-transform: capitalize;
  border: none;
  padding: 0.6rem 0.6rem;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

/* HOMEPAGE NAVIGATION SECTION */

/* handbugger */
.handbugger {
  display: none;
  cursor: pointer;
}

.hb_bar {
  display: block;
  width: var(--ms-step-5);
  height: 3px;
  margin: var(--step--2) auto;
  background: var(--primary-txt-cl);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 912px) {
  .handbugger {
    display: block;
  }

  .handbugger.active .hb_bar:nth-child(2) {
    opacity: 0;
  }
  /* will use set size */
  .handbugger.active .hb_bar:nth-child(1) {
    transform: translateY(9px) rotate(46deg);
  }
  .handbugger.active .hb_bar:nth-child(3) {
    transform: translateY(-9px) rotate(-46deg);
  }

  .nav_right {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 1rem;
    flex-direction: column;
    background: var(--primary-bg-cl);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 2rem 0rem;
  }
  .user_validation {
    flex-direction: column;
    gap: 1rem;
  }

  .toggle_dark_mode {
    margin-inline: auto;
  }

  .header_nav_links {
    flex-direction: column;
  }

  .header_nav_links {
    margin: var(--ms-step-0) 0;
  }

  .nav_right.active {
    left: 0;
  }
}

/*end of  handbugger */

.nav_header {
  width: 100%;
  background: var(--primary-bg-cl);
  padding: var(--padding);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav_right {
  display: flex;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin-right: 7rem;
}
.brand .fa-bitcoin {
  font-size: 2rem;
  color: var(--primary-txt-cl);
}

.brand h3 {
  font-size: 1.2rem;
  color: var(--primary-txt-cl);
}

.header_nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav_link {
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 5px;
  color: var(--primary-txt-cl);
  text-transform: capitalize;
  transition: background 0.2s ease-in;
  cursor: pointer;
}
.nav_link:hover {
  background: var(--hover-nav);
}

.nav_link.active {
  background: var(--hover-nav);
}

.user_validation {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.btn_sign_up {
  background: var(--primary-txt-cl);
  color: var(--primary-bg-cl);
}
.btn_login {
  background: var(--primary-bg-cl);
  color: var(--primary-txt-cl);
}

.toggle_dark_mode {
  height: 2rem;
  width: 6rem;
  border: none;
  background: var(--hover-nav);
  box-shadow: inset var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  gap: 0.5rem;
}
.toggle_dark_mode i {
  width: 3000%;
  height: 200%;
  display: flex;
  color: var(--primary-txt-cl);
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
}
.toggle-control {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  margin: auto 0;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  z-index: 2;
  background: var(--primary-bg-cl);
  box-shadow: var(--box-shadow);
  z-index: -1;
  transition: transform 0.2s linear;
}

.toggle_dark_mode.dark .toggle-control {
  transform: translateX(100%);
}
/* END OF  HOMEPAGE NAVIGATION SECTION */

/* ========HOME PAGE========= */

/* HERO SECTION */

.hero_section {
  width: 100%;
  /* height: 100vh; */
  padding: var(--padding);
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  gap: var(--ms-step-0);
}

.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--ms-step-3);
}

.blub {
  width: 100%;
  height: 100%;
  display: block;
  justify-self: flex-start;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.hero_text h1 {
  font-size: var(--step-5);
  text-transform: capitalize;
}

.hero_text p {
  font-size: var(--step-0);
  color: var(--primary-txt-cl);
}
.learn {
  width: var(--sz-step-1);
  background: var(--primary-txt-cl);
  color: var(--primary-bg-cl);
  padding: 1rem 0rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.currency_exchange {
  width: 100%;
  height: var(--sz-step--1);
  display: flex;
  align-items: center;
  gap: var(--ms-step-3);
}

.currency_update {
  width: var(--sz-step--2);
  height: 4rem;
  background: var(--primary-txt-cl);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--step-0);
  padding: 0.2rem;
  box-shadow: var(--box-shadow);
}

.currency_update h4 {
  font-size: var(--step--1);
  color: var(--primary-bg-cl);
}
.currency_update h3 {
  font-size: var(--step-0);
}

@media (max-width: 820px) {
  .hero_img {
    width: 110%;
    height: 130%;
  }
  .blub {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 540px) {
  .hero_section {
    flex-direction: column-reverse;
  }
  .hero_img {
    width: 90%;
    height: 90%;
  }
  .hero_text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .currency_exchange {
    justify-content: center;
  }
}
/* END OF HERO SECTION */

/* SECOND SECTION */

.section_two {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--ms-step-3);
  padding: var(--padding);
  background: var(--second-bg-cl);
}

.proof_block {
  padding: var(--ms-step-3);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background: var(--primary-bg-cl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ms-step-3);
  /* height: var(--sz-step-2); */
}

.proof_block svg {
  width: var(--ms-step-5);
  height: var(--ms-step-5);
}

.proof_block h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: var(--step-0);
  text-align: center;
}

.proof_block p {
  text-transform: capitalize;
  font-size: var(--step--1);
  text-align: center;
}

@media (max-width: 540px) {
  .section_two {
    flex-direction: column;
    gap: var(--ms-step-3);
  }
}

/* END OF SECOND SECTION */

/* THIRD SECTION */
.third_section {
  background: var(--primary-bg-cl);
  padding: var(--padding);
  width: 100%;
  /* height: 100%; */
}
.timeline {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 0.3rem 1fr;
}

.timeline_component {
  margin: 0 20px 20px 20px;
  font-size: var(--step-0);
}

.timeline_title_bg {
  font-size: var(--step-0);
  padding: var(--ms-step-3);
  border-radius: 5px;
  background: var(--second-bg-cl);
  color: var(--primary-txt-cl);
  line-height: var(--ms-step-2);
  font-weight: 400;
}

.timeline_title_right {
  text-align: right;
  text-transform: capitalize;
}
.timeline_middle {
  position: relative;
  background: var(--primary-txt-cl);
}
.timeline_point {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  height: 1rem;
  background: var(--primary-txt-cl);
  border-radius: 50%;
}
.timeline_point_bottom {
  top: initial;
  bottom: 0;
}
/* END OF THIRD SECTION */

/* FOURTH SECTION */

.services {
  width: 100%;
  background: var(--second-bg-cl);
  padding: var(--padding);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-3);
}

.services h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--step-4);
  padding: var(--ms-step--1);
}

.service_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--ms-step-5);
}

.sec_four_pr_bl {
  gap: 0.5rem;
  padding: var(--ms-step-0) var(--ms-step-0);
}
.sec_four_pr_bl img {
  width: var(--ms-step-5);
  height: var(--ms-step-5);
}
.sec_four_pr_bl p {
  font-size: var(--step--1);
}

@media (max-width: 540px) {
  .service_container {
    grid-template-columns: 1fr;
  }
}
/* END OF FOURTH SECTION */

/* FIFTH SECTION */

.coins {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
}
.coin_container {
  display: flex;
  align-items: center;
  gap: var(--ms-step-3);
  justify-content: space-evenly;
}

.coin {
  font-size: var(--step-3);
  font-weight: 700;
  color: var(--second-bg-cl);
  margin: var(--ms-step-3) var(--ms-step-2);
  display: flex;
  align-items: center;
  gap: var(--ms-step-0);
}
.coin svg {
  fill: var(--second-bg-cl);
  stroke: var(--second-bg-cl);
  width: var(--ms-step-5);
  height: var(--ms-step-5);
}

@media (max-width: 540px) {
  .coin_container {
    flex-direction: column;
  }
}

/* END OF FIFTH SECTION */

/*SIXTH SETION */

.company_trust {
  width: 100%;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--ms-step-3);
}

.trust_item {
  padding: var(--ms-step-1);
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--hover-nav);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ms-step-0);
  flex-direction: column;
}

.trust_item span {
  font-size: var(--step-2);
  font-weight: 600;
  text-transform: capitalize;
}
.trust_item h3 {
  font-size: var(--step-0);
  font-weight: 500;
  text-transform: capitalize;
}

.trust_img {
  width: var(--ms-step-5);
  height: var(--ms-step-5);
}

@media (max-width: 540px) {
  .company_trust {
    flex-direction: column;
  }
  .trust_item {
    width: 60%;
  }
}

/*END OF SIXTH SETION */

/* SEVENTH SECTION */

.reviews {
  width: 100%;
  padding: var(--padding);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-bg-cl);
}

.review_container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.review {
  width: 100%;
  border-radius: 5px;
  background: var(--primary-txt-cl);
  padding: 2rem;
  color: var(--primary-bg-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: var(--box-shadow);
}

.rev_img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.rev_details {
  color: var(--primary-bg-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.rev_details h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.9rem;
}
.rev_details h3 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
}

.slide_reader {
  width: 10rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide_reader span {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background: var(--primary-txt-cl);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  color: var(--primary-bg-cl);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_reader span:hover {
  box-shadow: var(--box-shadow);
}

.rev_counter span i {
  font-size: 0.5rem;
}

.review_container h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
/* END OF SEVENTH SECTION */

/* EIGHT SECTION */

#widthrawal_proof_section {
  padding: var(--padding);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
  align-items: center;
  justify-content: center;
}

#widthrawal_proof_section h2 {
  font-size: var(--ms-step-4);
  text-transform: capitalize;
}

.withdrawal_proof {
  margin: var(--ms-step-3) auto;
  width: 80%;
  height: 80%;
  border-collapse: collapse;
  border-radius: 5px;
  font-size: var(--step-0);
  box-shadow: var(--box-shadow);
}

.withdrawal_proof thead tr {
  background: var(--primary-txt-cl);
  color: var(--primary-bg-cl);
  text-align: left;
  font-weight: 600;
}

.withdrawal_proof th,
.withdrawal_proof td {
  padding: var(--ms-step--2);
}

.withdrawal_proof tbody tr {
  border-bottom: 1px solid var(--hover-nav);
  transition: background 0.2s ease;
}
.withdrawal_proof tbody tr:hover {
  background: var(--second-bg-cl);
}

.withdrawal_proof tbody tr:nth-last-of-type(even) {
  background: var(--second-bg-cl);
}
.withdrawal_proof tbody tr:nth-last-of-type {
  border-bottom: 5px solid var(--primary-txt-cl);
}

.table_img {
  width: var(--ms-step-4);
  height: var(--ms-step-4);
}

.table_name {
  text-transform: capitalize;
}

/* END OF EIGHT SECTION */

/* HOME PAGE FOOTER */

footer {
  width: 100%;
  padding: var(--padding);
  background: var(--second-bg-cl);
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
}

.footer_one {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.footer_icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--ms-step-3);
  justify-self: center;
}
.footer_icons img {
  height: var(--ms-step-5);
  width: var(--ms-step-5);
  display: flex;
  opacity: 0.3;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
  justify-self: flex-start;
}

.footer_link {
  color: var(--primary-txt-cl);
  text-transform: capitalize;
  font-weight: 400;
  padding: var(--step--2);
  border-radius: 5px;
  font-size: var(--step-0);
  cursor: pointer;
}
.footer_link:hover {
  background: var(--hover-nav);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
  justify-self: flex-end;
}

.contact label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: var(--step-0);
}

.contact label input {
  width: 100%;
  height: var(--ms-step-3);
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
  outline: none;
}

#userinput {
  border-radius: 5px;
  outline: none;
  padding: 0.3rem;
}

.footer_two {
  font-size: var(--step-0);
  text-align: center;
}

@media (max-width: 540px) {
  .footer_one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
}

/*  END OF HOME PAGE FOOTER */

/* ========END OF HOME PAGE========= */

/* ========NEWS FEEDS========= */

/* NEWS FEEDS */
.news_feed {
  width: 100%;
  padding: var(--padding);
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: var(--ms-step-3);
}

.news_feed_header {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-3);
}
.news_titles {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
}

.news_titles h1 {
  line-height: var(--ms-step-4);
  font-size: var(--step-3);
  font-weight: 600;
}

.news_titles p {
  font-size: var(--step-0);
  font-weight: 600;
}

.news_titles .know_more {
  background: var(--primary-txt-cl);
  color: var(--primary-bg-cl);
  width: var(--sz-step--2);
  /* height: var(--ms-step-5); */
  font-size: var(--step-0);
}

.quick_feeds {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step--2);
}

.quick_feeds span {
  width: 100%;
  padding: 0.3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.quick_feeds span:hover {
  opacity: 0.6;
}

.quick_feeds span h3 {
  font-size: var(--step-0);
  font-weight: 600;
}

.quick_feeds span h5 {
  font-size: var(--step--1);
  font-weight: 400;
  opacity: 0.6;
}

.news_feed_posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--ms-step-0);
}
.feed {
  position: relative;
  border-radius: 5px;
  height: var(--sz-step-2);
  padding: var(--ms-step-0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-3);
}

.feed h3 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 100%;
  color: #fff;
  font-size: var(--step-1);
  z-index: 3;
  word-wrap: wrap;
}

.feed p {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 100%;
  color: #fff;
  font-size: var(--step-0);
  z-index: 3;
}

.feed .read_more {
  position: absolute;
  top: 77%;
  left: 5%;
  width: 40%;
  /* height: var(--ms-step-4); */
  font-size: var(--step-0);
  z-index: 3;
  font-size: var(--step-0);
}

.feed .feed_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* z-index: -2; */
}
.feed .feed_img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: black;
  z-index: 2;
}

.feed .feed_img img {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 540px) {
  .news_feed {
    grid-template-columns: 1fr;
  }
  .news_feed_header {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .news_titles .know_more {
    margin-inline: auto;
  }
  .news_feed_posts {
    grid-template-columns: 1fr;
  }
}

/* END OF NEWS FEEDS */

/* NEWS POSTS */
.news_post {
  width: 100%;
  padding: var(--padding);
  padding-top: 6rem;
  border-top: 2px solid var(--hover-nav);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--ms-step-3);
}

.top_stories {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
}

.top_stories h2 {
  line-height: var(--ms-step-4);
  font-size: var(--step-3);
  font-weight: 600;
}

.top_story {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.top_story img {
  width: 100%;
  height: var(--sz-step-3);
}

.top_story h3 {
  font-size: var(--step-0);
  font-weight: 600;
}

.top_story p {
  font-size: var(--step--1);
  font-weight: 400;
}
.top_story a {
  background: none;
  padding: none;
  color: var(--primary-txt-cl);
  width: var(--sz-step--2);
  font-size: var(--step-0);
}

.latest_stories {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
}

.latest_stories h2 {
  line-height: var(--ms-step-4);
  font-size: var(--ms-step-2);
  font-weight: 600;
}

.latest_story {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--primary-txt-cl);
  gap: var(--ms-step-0);
  padding: var(--step--2) 0rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.latest_story:hover {
  opacity: 0.6;
}
.ls_timestamp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sz-step--2);
  text-transform: capitalize;
  opacity: 0.5;
  font-size: var(--step--1);
}

.ls_desc {
  display: flex;
  flex-direction: column;
  gap: rem;
}

.ls_desc h2 {
  font-size: var(--step-0);
  font-weight: 600;
  text-transform: capitalize;
}
.ls_desc p {
  font-size: var(--step--1);
  font-weight: 400;
  opacity: 0.7;
  text-transform: capitalize;
}

.ls_desc a {
  color: var(--primary-txt-cl);
  text-transform: capitalize;
  font-size: var(--step-0);
}

@media (max-width: 540px) {
  .news_post {
    grid-template-columns: 1fr;
  }
  .latest_stories h2 {
    text-align: center;
  }
  .top_stories h2 {
    text-align: center;
  }
}

/* END OF NEWS POSTS */

/* ========END OF NEWS FEEDS========= */

/* ========FAQ========= */

.faq {
  width: 100%;
  padding: 6rem 5rem;
  padding-top: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.faq_container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 0 1.5rem;
}

.accordion_item {
  background: var(--primary-txt-cl);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: var(--primary-bg-cl);
  box-shadow: var(--box-shadow);
}

.accordion_link {
  font-size: var(--ms-step-0);
  text-decoration: none;
  color: var(--primary-bg-cl);
  background: var(--hover-nav);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.accordion_link i {
  color: var(--second-bg-cl);
  padding: 0.5rem;
}

.accordion_link .fa-minus {
  display: none;
}

.accordion_answer {
  overflow: hidden;
  max-height: 0;
  background: var(--primary-bg-cl);
  color: var(--primary-txt-cl);
  font-size: 0.8rem;
  padding: 0rem;
  border-radius: 5px;
  position: relative;
  transition: max-height 650ms ease;
}

.accordion_answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.accordion_item:target .accordion_answer {
  max-height: 20rem;
  padding: 0.5rem;

  padding-left: 1rem;
}

.accordion_item:target .accordion_link .fa-plus {
  display: none;
}
.accordion_item:target .accordion_link .fa-minus {
  display: flex;
}

@media (max-width: 540px) {
  .accordion_link {
    text-align: center;
  }
}

/* ========END OF FAQ========= */

/* ==========ABOUT PAGE======== */

.about {
  width: 100%;
  padding: var(--padding);
  padding-top: 6rem;
}

.company_img {
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  opacity: 0.5;

  margin-bottom: var(--ms-step-3);
}

.company_img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -2;
}

.company_img img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-3);
}

.company_desc {
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
}

.company_desc h2 {
  font-size: var(--ms-step-3);
  font-weight: 500;
  text-transform: capitalize;
}

.company_desc p {
  font-size: var(--step-0);
  line-height: var(--ms-step-2);
  font-weight: 400;
  text-transform: capitalize;
}
.about_services {
  padding: var(--ms-step-3) 0rem;
  background: var(--primary-txt-cl);
  border-radius: 5px;
}

.about_services h2 {
  font-size: var(--ms-step-3);
  text-align: center;
  color: var(--primary-bg-cl);
  margin: var(--ms-step-0) 0rem;
  font-weight: 500;
  text-transform: capitalize;
}

.abt_service_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0rem var(--ms-step-0);
  gap: var(--ms-step-3);
}

.service_content {
  padding: var(--step--2);
  border-radius: 5px;
  background: purple;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--step-0);
}

.service_content .service_img {
  width: var(--ms-step-5);
  height: var(--ms-step-5);
}

.service_content .service_img img {
  width: 100%;
  height: 100%;
}

.service_content h3 {
  font-size: var(--step-0);
  text-transform: capitalize;
}

.service_content p {
  font-size: var(--step--1);
  text-transform: capitalize;
  line-height: var(--ms-step-1);
  text-align: center;
}

.about_third_section {
  padding: var(--ms-step-3) 0rem;
}

.about_third_section h2 {
  font-size: var(--ms-step-3);
  text-align: center;
  text-transform: capitalize;
  margin: var(--ms-step-0) 0rem;
  font-weight: 500;
}

.about_third_section p {
  font-size: var(--step-0);
  text-align: center;
  text-transform: capitalize;
  margin: var(--ms-step-0) 0rem;
  font-weight: 400;
  margin-bottom: var(--ms-step-3);
}

.third_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--ms-step-3);
}

.third_content {
  height: var(--sz-step--1);
  border: 2px solid var(--primary-txt-cl);
  padding: var(--step--2) var(--ms-step-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--step--2);
}

.third_content span {
  font-size: var(--ms-step-1);
  color: purple;
  text-transform: capitalize;
  font-weight: 700;
}

.third_content h5 {
  font-size: var(--ms-step-0);
  text-transform: capitalize;
  font-weight: 700;
}

.third_content h5 {
  font-size: var(--step--1);
  font-weight: 400;
  text-align: center;
}

.about_contact {
  width: 100%;
  height: 100%;
  padding: var(--ms-step-3) var(--ms-step-3);
  border-radius: 5px;
  background: url(../images/sun-tornado.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.about_form {
  width: 80%;
  padding: var(--ms-step-3);
  background: #272727;
  border-radius: 5px;
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
}

.about_form h2 {
  font-size: var(--ms-step-2);
  text-align: left;
  text-transform: capitalize;
  margin: var(--ms-step-0) 0rem;
  font-weight: 500;
}

.about_form label {
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
}

.about_form label input {
  height: var(--ms-step-2);
  padding: 0.3rem var(--ms-step-0);
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.usmesg {
  border-radius: 5px;
  border: none;
  padding: var(--ms-step-0);
  font-size: var(--step-0);
  resize: none;
}

.contact_submit {
  width: var(--sz-step-0);
  justify-self: flex-end;
}

@media (max-width: 540px) {
  .abt_service_content {
    flex-direction: column;
  }
  .third_container {
    flex-direction: column;
  }
  .third_content {
    width: 70%;
  }
  .contact_submit {
    margin-inline: auto;
  }
}

/* ==========END OF ABOUT PAGE======== */

/* ==========login UP PAGE =========== */

#sign-up_login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/sign-up-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sign-up_login_container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  background: #fff;
}

.form--hidden {
  display: none;
}

.form {
  transition: height 0.2s ease;
}

.form > *:first-child {
  margin-top: 0;
}
.form > *:lat-child {
  margin-bottom: 0;
}

.form__messg {
  text-align: center;
  margin-bottom: 1rem;
}

.form__messg--success {
  color: rgb(62, 226, 62);
}

.form__messg--err {
  color: rgb(226, 54, 41);
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border 0.2s;
}

.form__input:focus {
  border-color: #272727;
  background: #fff;
}

.form__input--error {
  color: rgb(226, 54, 41);
  border-color: rgb(226, 54, 41);
}

.form__input-error-messg {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: rgb(226, 54, 41);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: #272727;
  transition: 0.2s;
}

.form__button:hover {
  background: #fff;
  color: #272727;
  border: 1px solid #272727;
}

.form__button:active {
  background: #272727;
  color: #fff;
  border: none;
}

.form__text {
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem;
}

.form__link {
  text-transform: capitalize;
}

.form__link:hover {
  text-decoration: underline;
}
/* ==========END OF login UP PAGE =========== */

/*===========SUPPORT PAGE============== */

.user_support {
  padding: var(--padding);
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--step-3);
  background: url(../images/sun-tornado.svg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user_support h2 {
  font-weight: 500;
  font-size: var(--step-1);
  text-transform: capitalize;
  text-align: left;
  color: #272727;
}

.support_content_wrapper {
  width: 50%;
  padding: var(--step-1);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background: #fff;
  color: #272727;
}

.user_support .support_content_wrapper p {
  font-weight: 500;
  font-size: var(--step--2);
  text-transform: capitalize;
  text-align: left;
  color: #272727;
  text-align: center;
  line-height: var(--step-0);
  margin-bottom: var(--ms-step-0);
}

.support_email {
  background: #272727;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: var(--step--2);
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  transition: transform 0.2s;
}
.support_email:hover {
  transform: scale(1.1);
}
.support_email:active {
  transform: scale(1);
}
.support_email a {
  text-decoration: underline;
  color: #fff;
  font-size: var(--step-0);
}
.support_email span {
  color: #fff;
  font-size: var(--step-2);
}
.support_form {
  justify-self: center;
  width: 70%;
  padding: var(--step-2);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
  background: #fff;
}

.support_form label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: var(--step--2);
  font-weight: 400;
  color: #272727;
}
.support_form label input {
  height: var(--step-1);
  border: 1px solid #dddddd;
  color: #272727;
  background: #eeeeee;
  padding: 0.2rem var(--step--2);
  transition: background 0.3s;
  outline: none;
}
.support_form label input:focus {
  background: #fff;
}
.support_form label textarea {
  height: 10rem;
  border: 1px solid #dddddd;
  background: #eeeeee;
  padding: 0.2rem var(--step--2);
  transition: background 0.3s;
  resize: none;
  outline: none;
}
.support_form label textarea:focus {
  background: #fff;
}

.support_submit {
  background: #272727;
  color: #fff;
  transition: transform 0.2s;
  font-size: var(--step-0);
  width: var(--sz-step-0);
  margin-inline: auto;
}

.support_submit:hover {
  transform: scale(1.2);
}
.support_submit:active {
  transform: scale(1);
}

@media (max-width: 540px) {
  .support_content_wrapper {
    width: 80%;
  }
  .support_form {
    width: 100%;
  }
}
/*===========END OF SUPPORT PAGE============== */

/* ============AFFILIATE PAGE=============== */

#affiliate {
  width: 100%;
  padding: var(--padding);
  padding-top: 6rem;
}

#affiliate h2 {
  text-align: center;
  font-size: var(--step-2);
  font-weight: 500;
  text-transform: capitalize;
  margin: var(--ms-step-0) 0rem;
  color: var(--primary-txt-cl);
}

#affiliate p {
  text-align: center;
  font-size: var(--step-0);
  font-weight: 400;
  text-transform: capitalize;
  margin: 1rem 0rem;
  color: var(--primary-txt-cl);
}

.referal_info {
  margin: var(--ms-step-0) 0rem;
  width: 100%;
  padding: var(--ms-step-0);
  background: var(--primary-txt-cl);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ms-step-3);
}

.referal_ill {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ms-step-0);
  align-items: center;
  justify-content: center;
}

.referal_ill img {
  height: var(--sz-step--2);
  width: var(--sz-step--2);
}

.div_ill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ms-step-0);
}

.div_ill div {
  width: var(--step-2);
  height: var(--step-2);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background: var(--primary-bg-cl);
  color: var(--primary-txt-cl);
  font-size: var(--step--2);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.referal_desc {
  text-align: left;
  color: var(--primary-bg-cl);
  font-size: var(--step-0);
  line-height: var(--step-2);
  font-weight: 400;
}

.more_ref_info {
  margin: var(--ms-step-0) 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ms-step-3);
}

.more_ref_info div {
  padding: var(--step-0);
  background: var(--primary-txt-cl);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--ms-step-2);
}

.ref_img {
  width: 40%;
  height: var(--sz-step--2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ref_img img {
  width: 100%;
  height: 100%;
  justify-self: center;
  display: block;
}

.ref_info_des {
  display: flex;
  flex-direction: column;
}

.ref_info_des h3 {
  font-size: var(--step-0);
  font-weight: 700;
  color: var(--primary-bg-cl);
  margin-bottom: var(--step--2);
  text-transform: capitalize;
}
.ref_info_des span {
  font-size: var(--step--1);
  font-weight: 400;
  color: var(--primary-bg-cl);
}

@media (max-width: 540px) {
  .referal_info {
    flex-direction: column;
  }
  .referal_desc {
    text-align: center;
  }
  .more_ref_info {
    flex-direction: column;
  }
  .more_ref_info div {
    flex-direction: column;
  }
}

/* ============END OF AFFILIATE PAGE=============== */
/* new release */
